
/* HTML bodies have a default margin of 8px */
body {
    margin: 0;
}

ul {
    list-style-type: none; /* Removes bullets */
    margin: 0; /* Removes browser default settings */
    padding: 0; /* Removes browser default settings */
    overflow: hidden; /* overflow property sets what to do when an elements content is too big to fit in the space its occupying. Without hiding this, we would not be able to see our background color. */
    background-color: #333;
}

li {
    float: left; /* By default, <li> elements are block elements (meaning they will stack on top of eachother. Use float to get block elements to slide next to eachother.*/
}

/* <li> is our ancestor(or parent) element / and <a> is our descendant element. This selector will manipulate all of our <a> elements that have an ancestor element of <li> */
li a {
    display: block; /* Displaying the links as block elements makes the whole link area clickable (not just the text), and it allows us to specify padding, height, width, margins, etc. if we want to */
    padding: 20px 16px; /* 20px from the top, 16px from the left of each <a> tag */
    text-decoration: none; /* Removes the underline */ 
    text-align: center; /* https://www.w3schools.com/cssref/playit.asp?filename=playcss_text-align&preval=center */
    color: white;
}

/* li a:hover {
    background-color: black;
} */
